.todo-list-main {
  margin: auto;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .todo-list-section {
    background: whitesmoke;
    padding: 2rem 3rem;
    width: 50%;
    border-radius: 1rem;

    h1 {
      font-size: xx-large;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .form-search-section {
      margin: 1rem 0;
      width: 100%;

      .form-search {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;

        input {
          flex-grow: 1;
        }
        button {
          position: absolute;
          right: 0;
        }
      }
    }

    .couter-section {
      p {
        font-size: x-large;
        font-weight: 600;
        text-align: center;
        margin: 2rem 0;
      }
    }

    .empty-todo-list-section {
      text-align: center;
    }
  }
}
