.todo-item-section {
  border-bottom: 1px solid #ececec;
  padding-bottom: .5rem;

  .task-container {
    display: flex;
    align-items: center;

    .task-input-done {
      margin-right: 1rem;
    }

    .task-label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .task-text {
        text-wrap: wrap;
        font-size: large;
      }

      .task-actions {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .task-edit-form {
    width: 100%;

    .task-edit-container {
      width: 100%;
      position: relative;

      .task-edit-input-container {
        width: 100%;
        display: flex;

        input {
          width: 100%;
        }

        .task-edit-actions {
          position: absolute;
          right: 0;
          display: flex;
          gap: 1rem;
          background: whitesmoke;
          border-radius: 2rem;
        }
      }
    }
  }
}
